:root {
  /* Colors */
  --purple-1: #2b2d75;
  --purple-2: #494b8a;
  --blue-1: #0972bd;
  --blue-2: #8bb8da;
  --blue-3: #b9d8ec;
  --blue-4: #e3eff7;
  --yellow-1: #f09601;
  --black: #000000;
  --grey-1: #6b6464;
  --white: #ffffff;
  --grey-2: #d9d9d9;

  /* Fonts */
  --heading-1-font-family: "League Spartan", Helvetica, sans-serif;
  --heading-1-font-size: 5.625rem;
  --heading-1-line-height: 5.625rem;
  --heading-1-font-weight: 700;
  --heading-1-font-style: normal;

  --heading-2-font-family: "League Spartan", Helvetica, sans-serif;
  --heading-2-font-size: 4.75rem;
  --heading-2-line-height: 4.75rem;
  --heading-2-font-weight: 700;
  --heading-2-font-style: normal;

  --heading-3-font-family: "League Spartan", Helvetica, sans-serif;
  --heading-3-font-size: 3.125rem;
  --heading-3-line-height: 3.125rem;
  --heading-3-font-weight: 700;
  --heading-3-font-style: normal;

  --body-1-font-family: Helvetica, sans-serif;
  --body-1-font-size: 2rem;
  --body-1-line-height: 2.5rem;
  --body-1-font-weight: 400;
  --body-1-font-style: normal;

  --body-2-font-family: Helvetica, sans-serif;
  --body-2-font-size: 1.625rem;
  --body-2-line-height: normal;
  --body-2-font-weight: 400;
  --body-2-font-style: normal;

  --label-large-font-family: "Roboto", sans-serif;
  --label-large-font-font-size: 1rem;
  --label-large-font-line-height: normal;
  --label-large-font-font-weight: 400;
  --label-large-font-font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: var(--label-large-font-family);
  font-size: var(--label-large-font-font-size);
}

.rounded {
  border-radius: 80px;
}

/* BUTTONS */
.btn {
  font-family: var(--body-1-font-family);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-light-blue {
  background-color: #e3eff7;
  color: var(--purple-1, #2b2d75);
  border-width: 2px;
  border-style: solid;
  border-color: #e3eff7;
  text-decoration: none;
  display: flex;
  height: 55px;
  padding: 11.009px 16.514px;
  justify-content: center;
  align-items: center;
  gap: 11px;
  font-size: 1.5rem;
}
.btn-light-blue:hover {
  border-style: solid;
  border-color: var(--purple-1, #2b2d75);
  border-width: 2px;
}
.btn-light-blue:active {
  background-color: #8bb8da;
  border-style: solid;
  border-color: var(--purple-1, #2b2d75);
  border-width: 2px;
}
/* BUTTONS */

.hero {
  background: rgb(255, 253, 249);
  background: -moz-linear-gradient(
    135deg,
    rgba(255, 253, 249, 1) 0%,
    rgba(250, 170, 50, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(255, 253, 249, 1) 0%,
    rgba(250, 170, 50, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(255, 253, 249, 1) 0%,
    rgba(250, 170, 50, 1) 100%
  );
  overflow: hidden;
  height: calc(177.8vw + 0px);
}

/* DESKTOP NAVBAR */

.desktop-nav {
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 2.06rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  padding: 22px 33px;
  width: 1600px;
  height: 99px;
  max-width: 1600px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 36px;
}
.desktop-nav .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desktop-nav .logo img {
  max-height: 47.9px;
}

.desktop-nav ul {
  display: flex;
  flex-direction: row;
  gap: 22px;
  list-style: none;
  display: flex;
}

.desktop-nav ul li a {
  display: flex;
  align-items: center;
  gap: 8.8px;
  text-decoration: none;
  color: var(--purple-1, #2b2d75);
  text-align: center;
  font-size: 1.513rem;
  line-height: var(--label-large-line-height, 22.02px);
  letter-spacing: var(--label-large-tracking, 0.11px);
  font-weight: 500;
  padding: 11px 16.5px;
}

/* DESKTOP NAVBAR */

/* DESKTOP NAVBAR OPEN */
.desktop-nav-open {
  visibility: hidden;
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #494b8a;
  border-width: 1px;
  padding: 10px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 448px;
  position: relative;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.services-and-solutions {
  color: #2b2d75;
  text-align: left;
  font-family: var(--m3-headline-small-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--m3-headline-small-font-size, 24px);
  line-height: var(--m3-headline-small-line-height, 32px);
  font-weight: var(--m3-headline-small-font-weight, 700);
  position: relative;
  align-self: stretch;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-30 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-29 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.overview {
  color: #2b2d75;
  text-align: left;
  font-family: var(--m3-title-large-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--m3-title-large-font-size, 22px);
  line-height: var(--m3-title-large-line-height, 28px);
  font-weight: var(--m3-title-large-font-weight, 700);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-2 {
  flex: 1;
  width: 450px;
  position: static;
}
.play-arrow-filled {
  width: 100px;
  height: 121.62px;
  position: absolute;
  left: 210px;
  top: 135.64px;
  overflow: visible;
}
.screenshot-2025-01-09-at-10-35-47-am-1 {
  width: 450px;
  height: 304px;
  position: absolute;
  left: 0px;
  top: 38px;
  object-fit: cover;
}
.group-21 {
  width: 50.5px;
  height: 44px;
  position: absolute;
  left: 193px;
  top: 152px;
  overflow: visible;
}
.frame-28 {
  padding: 0px 0px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  row-gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 810px;
  position: relative;
}
.menu {
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 390px;
  height: 160px;
  position: relative;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
.frame-32 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: #2b2d75;
  text-align: left;
  font-family: var(--m3-title-large-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--m3-title-large-font-size, 22px);
  line-height: var(--m3-title-large-line-height, 28px);
  font-weight: var(--m3-title-large-font-weight, 700);
  position: relative;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-27 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit {
  color: #000000;
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* DESKTOP NAVBAR OPEN */

/* MOBILE NAVBAR */
.mobile-nav {
  background-color: #fff; /* Cor de fundo da navbar mobile */
  border-radius: 15px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  position: absolute;
  top: 30px;
  left: 50%; /* Alterado de 0 para 50% */
  transform: translateX(-50%); /* Adicionado para centralizar */
  width: 88.88%;
  z-index: 15; /* Garantir que fique acima do conteúdo */
}

.mobile-nav .container {
  display: flex;
  justify-content: center; /* Centralizar o conteúdo horizontalmente */
  align-items: center;
  padding: 0 20px; /* Adicionar padding ao container */
}

.mobile-nav .logo {
  display: block;
}

.mobile-nav .logo img {
  max-width: 100%;
  height: auto;
  display: block;
  max-height: 23px;
}

.mobile-nav .menu-toggle {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Posicionar o botão no canto esquerdo */
  left: 20px;
  z-index: 21; /* Acima do menu quando aberto */
}

.mobile-nav .menu-toggle svg {
  fill: #2b2d75;
  width: 30px;
  height: 31px;
}

body .mobile-menu {
  list-style: none;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #303f9f; /* Cor de fundo azul escura */
  position: fixed; /* Cobrir toda a tela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
  align-items: flex-start; /* Alinhar itens à esquerda */
  padding-top: 60px; /* Espaço para o botão de fechar */
}

body .mobile-menu.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0s 0s;
}

body .mobile-menu .close-menu {
  background: none;
  border: none;
  padding: 3vw; /* Padding proporcional à largura da tela (ex: 3% da largura) */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3vw; /* Distância do topo proporcional */
  right: 6vw; /* Distância da direita proporcional */
  z-index: 30;
}

body .mobile-menu .close-menu svg {
  fill: #fff;
  width: 30px;
  height: 30px;
}

body .mobile-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

body .mobile-menu > ul > li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
}

body .mobile-menu > ul > li:last-child a {
  border-bottom: none;
}

body .mobile-menu .submenu {
  list-style: none;
  padding: 0;
  margin-left: 20px;
  height: 0; /* Inicialmente com altura zero */
  overflow: hidden; /* Esconder o conteúdo que ultrapassa a altura zero */
  transition: height 0.3s ease-in-out; /* Transição suave para a altura */
}

body .mobile-menu .submenu.open {
  height: calc(40vh - 4rem);
  overflow-y: auto;
}

body .mobile-menu .menu-item-with-submenu > a {
  display: flex; /* Usar flex para alinhar texto e seta */
  align-items: center; /* Alinhar verticalmente */
}

body .mobile-menu .menu-item-with-submenu > a .arrow-icon {
  transition: transform 0.3s ease-in-out; /* Transição suave para a rotação */
  display: inline-flex; /* Garante que o SVG se comporte como um elemento inline */
  align-items: center; /* Alinha verticalmente o SVG dentro do span */
  margin-left: 10px; /* Adiciona espaço à esquerda da seta */
}

body .mobile-menu .menu-item-with-submenu > a .arrow-icon.open {
  transform: rotate(180deg); /* Rotacionar a seta para cima */
}

body.mobile-menu .submenu li a {
  padding: 10px 20px;
  font-size: 0.9em;
}
/* MOBILE NAVBAR  */

/* Media Query para telas maiores (desktop) */
@media (min-width: 1024px) {
  /* Esconde a navbar mobile em telas grandes */
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: block;
  }
}

/* (Macbook 14") */
@media (min-width: 1513px) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: block;
  }
}

/* (FULL HD) */
@media (min-width: 1921px) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: block;
  }
  .hero {
    height: 1080px;
  }
}
