:root {
  /* Colors */
  --purple-1: #2b2d75;
  --purple-2: #494b8a;
  --blue-1: #0972bd;
  --blue-2: #8bb8da;
  --blue-3: #b9d8ec;
  --blue-4: #e3eff7;
  --yellow-1: #f09601;
  --black: #000000;
  --grey-1: #6b6464;
  --white: #ffffff;
  --grey-2: #d9d9d9;

  /* Fonts */
  --heading-1-font-family: "League Spartan", Helvetica, sans-serif;
  --heading-1-font-size: 5.625rem;
  --heading-1-line-height: 5.625rem;
  --heading-1-font-weight: 700;
  --heading-1-font-style: normal;

  --heading-2-font-family: "League Spartan", Helvetica, sans-serif;
  --heading-2-font-size: 4.75rem;
  --heading-2-line-height: 4.75rem;
  --heading-2-font-weight: 700;
  --heading-2-font-style: normal;

  --heading-3-font-family: "League Spartan", Helvetica, sans-serif;
  --heading-3-font-size: 3.125rem;
  --heading-3-line-height: 3.125rem;
  --heading-3-font-weight: 700;
  --heading-3-font-style: normal;

  --body-1-font-family: Helvetica, sans-serif;
  --body-1-font-size: 2rem;
  --body-1-line-height: 2.5rem;
  --body-1-font-weight: 400;
  --body-1-font-style: normal;

  --body-2-font-family: Helvetica, sans-serif;
  --body-2-font-size: 1.625rem;
  --body-2-line-height: normal;
  --body-2-font-weight: 400;
  --body-2-font-style: normal;

  --label-large-font-family: "Roboto", sans-serif;
  --label-large-font-font-size: 1rem;
  --label-large-font-line-height: normal;
  --label-large-font-font-weight: 400;
  --label-large-font-font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: var(--label-large-font-family);
  font-size: var(--label-large-font-font-size);
}

button {
  font-family: var(--label-large-font-family);
}

.rounded {
  border-radius: 80px;
}

/* BUTTONS */
.btn {
  font-family: var(--body-1-font-family);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-light-blue {
  background-color: #e3eff7;
  color: var(--purple-1, #2b2d75);
  border-width: 2px;
  border-style: solid;
  border-color: #e3eff7;
  text-decoration: none;
  display: flex;
  height: 55px;
  padding: 11.009px 16.514px;
  justify-content: center;
  align-items: center;
  gap: 11px;
  font-size: 1.5rem;
}
.btn-light-blue:hover {
  border-style: solid;
  border-color: var(--purple-1, #2b2d75);
  border-width: 2px;
}
.btn-light-blue:active {
  background-color: #8bb8da;
  border-style: solid;
  border-color: var(--purple-1, #2b2d75);
  border-width: 2px;
}
/* BUTTONS */

.hero {
  background: rgb(255, 253, 249);
  background: -moz-linear-gradient(
    135deg,
    rgba(255, 253, 249, 1) 0%,
    rgba(250, 170, 50, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(255, 253, 249, 1) 0%,
    rgba(250, 170, 50, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(255, 253, 249, 1) 0%,
    rgba(250, 170, 50, 1) 100%
  );
  overflow: hidden;
  height: calc(177.8vw + 0px);
}

/* Media Query para telas maiores (desktop) */
@media (min-width: 885px) {
  /* Esconde a navbar mobile em telas grandes */
  .mobile-nav {
    display: none;
  }
  .navbar {
    display: block;
  }
}
