.navbar {
  background-color: #ffffff;
  border-radius: 2.06rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  padding: 22px 33px;
  width: 1600px;
  height: 99px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 36px;
}

.navbar .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: var(--purple-1, #2b2d75);
  text-align: center;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  gap: 8.8px;
  border: none;
  outline: none;
  color: var(--purple-1, #2b2d75);
  padding: 11px 16.5px;
  background-color: inherit;
  text-align: center;
  font-size: 1.513rem;
  line-height: var(--label-large-line-height, 22.02px);
  letter-spacing: var(--label-large-tracking, 0.11px);

  margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: rgba(0, 0, 0, 0.04);
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rebeccapurple;
  width: 85.625%;
  z-index: 1;
  left: 50%;
  translate: -50%;
  top: 105px;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
